.banner {
  margin-top: 10vh;
  margin-bottom: 80px;
  height: 80vh;
  position: relative;
  color: white;
  background-size: cover;        /* ensures the background fills the div */
  background-position: center;   /* centers the image */
  background-repeat: no-repeat;
}

.banner_contents {
  margin-left: 30px;
  padding-top: 120px;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 0.3rem;
}

.banner_description {
  width: 50%;
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 1.3rem;
  max-width: 600px;
}

.banner_buttons {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.banner_buttons button {
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  border-radius: 0.2rem;
  border: none;
  transition: all 0.2s;
}

.banner_buttons button:hover {
  opacity: 0.8;
}

.banner_buttons .banner_button {
  background-color: #e50914;
}

.banner_buttons .banner_button_play {
  background-color: rgba(109, 109, 110, 0.7);
  color: black;
}

.banner--fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  position: absolute;
  bottom: 0;
  width: 100%;
}
